.bg-img {
    /* The image used */
    background-image: url("../image/main-bg-image.jpg");

    min-height: 350px;
    background-position: center;
    background-size: cover;

    position: relative;
}

.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

.topnav {
    background-color: #2b4c57;
}

.topnav a {
    float: left;
    color: #5466a7;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 20px;
    transition-duration: 400ms;
}

.topnav a:hover {
    background-color: #b2b5d6;
    color: black;
}

header {
    text-align: center;
    color: #606174;
    font-size: 40px;
    letter-spacing: 0.1em;
}