.login_form {
    text-align: center;
    margin: 30px;
}

input[type=email] {
    width: 180px;
    padding: 9px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 17px;
    color: #636363;
}

input[type=text], select, textarea {
    width: 180px;
    padding: 9px;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 17px;
    color: #636363;
}
::placeholder {
    font-size: 18px;
    color: #c4c4c4;
}

input[type=submit] {
    background-color: #4C5CBB;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3b4488;
}

.reg_p_menu {
    text-align: center;
}

.welcome_text {
    color: #2f4374;
    font-size: 25px;
}

.small_header {
    color: #2f4374;
    font-size: 18px;
    letter-spacing: 0.1em;
}

footer{
    margin-top:auto;

}

.reg_container_hor {
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
}

.reg_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.reg_container > div {
    border: 1px solid #525252;
    padding: 15px;
    margin-right: 60px;
}
.reg_container_hor > div {
    text-align: center;
}
p {
    color: #636363;
}
.index_links {
    background-color: #2B8A48;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 0.07em;

}
.index_links:hover, a:active {
    background-color: #206834;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
    font-size: 17px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 12px;
}


